---
blog_number: 0

title: Philosophy Blog

options:
- skip_card_metadata
- skip_autogen_sidebar
- display_recents_starting_at_number: 1

layout: Layout_Philosophy_Blog
---

<!-- ******************************************************************* -->
<!-- main content -->
<div id="page_content">
<!-- ******************************************************************* -->


{% assign min_post_recent = page.options  | map:"display_recents_starting_at_number" %}

{% assign time_blog_number = "topic" %}
{% assign topic_blog_number = "time" %}
{% assign blog_posts = site.Philosophy | where_exp:"ipost", "ipost.blog_number != 0" | where_exp:"ipost", "ipost.blog_number != time_blog_number" | where_exp:"ipost", "ipost.blog_number != topic_blog_number"  | reverse %}


	<h2>Latest Posts</h2>
	<article>
		<!-- define front matter here for # to start at
		list all above that num  -->
	<div class="flex_container_listOfPosts">
	{% for post in blog_posts %}

	{% assign int_min_num = min_post_recent | plus: 0 %}
	{% assign int_blog_num = post.blog_number | plus: 0 %}

		{% if int_blog_num >= int_min_num %}
			{% include generate_post_reference.html 
				post_to_gen=post
				gen_color="purple"  %}
		{% endif %}
				
	{% endfor %}
	</div>

	</article>

<!-- ******************************************************************* -->
</div><!-- #content -->
<!-- ******************************************************************* -->